.btn-add{
    background: #e91e63;
}
.btn-add:hover{
    background: #e91566;
}
a{
    color: #e91e63;
}
footer{
    text-align: center;
    }

.create{
    margin-bottom: 240px;
}

.pagination .active a{
    background: #e91e63;
}
.pagination .active a{
    transition: all linear .5s;
}
.pagination a:hover{
    background: #e91e63;
    color: #fff;
}
.btn-add{
    margin-bottom: 100px;
}
.btn-edit{
    margin-bottom: 400px;
}
.btn-logout{
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}
.btn-logout:hover{
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}
.sidenav {
    background: #e91566;
}

.sidenav .btn-logout{

    background: #444;
    border: none;
    cursor: pointer;
    color: #fff;
}
.sidenav .btn-logout:hover{
    background: #444;
    border: none;
    cursor: pointer;
    color: #fff;
}
