.title{
    text-align: center;
     margin-top: 50px;

}
.add-button{
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
}
.create-section{
    margin-top: 120px;
    margin-bottom: 220px;
}
.btn-logout{
background: transparent;
border: none;
cursor: pointer;
color: #fff;
}
.btn-logout:hover{
background: transparent;
border: none;
cursor: pointer;
color: #fff;
}
.sidenav {
background: #e91566;
}

.sidenav .btn-logout{

background: #444;
border: none;
cursor: pointer;
color: #fff;
}
.sidenav .btn-logout:hover{
background: #444;
border: none;
cursor: pointer;
color: #fff;
}
.show-section{
    margin: 100px auto;
}
.show-section h4,
.show-section p{
    color: #444;
}
.show-section b,
.show-section i{
    color: #01579b;
}

.pages{
    margin-bottom: -80px;
}

.pagination .active a{
    background: #03a9f4;
}
.pagination .active a{
    transition: all linear .5s;
}
.pagination a:hover{
    background: #03a9f4;
    color: #fff;
}

.create{
    margin-bottom: 170px;
}
